<section>
    <div class="hero-container">
        <div class="hero-header">
            <div>
                <p>HELLO, I'M </p>
                <h1>VAKHO <span>GHRUBELASHVILI</span></h1>
                <h2>Junior Front-end Developer!</h2>
                <p>Based in the Gerogia, I'm a front-end developer passionate about building accesible web apps that users love</p>
                <button (click)="toggleContactForm()">CONTACT ME</button>
            </div>
            <div class="wrapper">
                <div class="box"></div>
                <!-- <img src="../../../assets/images/me.png" alt="profile-picture"> -->
            </div>
        </div>
    </div>
</section>
