h1, h2 { 
    color: var(--color-green);
}

span { 
    color: var(--color-white);
}

section { 
    height: 90dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button { 
    position: relative;
    padding: 10px;
    text-decoration: none;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: .75rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 150ms linear;
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    gap: 5px;
    width: 135px;
}

button::after { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    border: 15px;
}

button::before { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 100%;
    width: 3px;
    left: 0;
    bottom: 0;
    border: 15px;
}

button:hover { 
    color: var(--color-green);
}

button:hover::after { 
    width: 100%;
    transition: 0.3s;
}

.hero-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 30;
}

.hero-header { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

img { 
    max-width: 250px;
    justify-self: center;
}

p { 
    color: var(--color-gray-light)
}


.wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.box { 
    background: url('../../../assets/images/me.png');
    background-size: cover;
    background-position: center center;
    width: 275px;
    height: 275px;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, .2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}



@keyframes animate { 
    0%  {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%  {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%  {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


@media only screen and (max-width: 1000px) {
    button[_ngcontent-ng-c4019011279] {
       padding: 20px;
       width: 100%;
    }

    .toggle-container { 
        width: 100%;
    }
}
 
 
 
 

@media only screen and (min-width: 1000px) {
   section { 
        display: flex;
        justify-content: center;
    }

    .hero-header { 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .hero-container { 
        max-width: 700px;
        height: 35dvh;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button::after { 
        transition: width 0.3s linear;
    }
  

}



