<section>
    <div class="hero-container">
        <div class="hero-header">
            <div class="wrapper">
                <div class="box"></div>
            </div>
            <div>
                <p>HELLO, I'M </p>
                <h1>VAKHO <span>GHRUBELASHVILI</span></h1>
                <h2>Junior Front-end Developer!</h2>
                <p>Based in the Gerogia, I'm a front-end developer passionate about building accesible web apps that users love</p>
                <div class="toggle-container">
                    <button (click)="toggleContactForm()">CONTACT ME</button>
                </div>
            </div>
        </div>
    </div>
</section>
