section { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
}

form {
    width: 90%;
    background-color: var(--color-black);
    backdrop-filter: blur(30px);
    padding: 25px;
    border-radius: 12px;
    z-index: 50;

}

.contact-me { 
    position: relative;
    /* display: inline-flex; */
    /* background-color: var(--color-black); */
    background-color: var(--color-green);

}

button { 
    width: 100%;
    position: relative;
    padding: 20px;
    text-decoration: none;
    border: none;
    /* background-color: var(--color-green); */
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: .75rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 150ms linear;
    display: flex;
    align-items: center;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a { 
    text-decoration: none;
    color: var(--color-white);
}

a::before { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 50%;
    width: 3px;
    right: 0;
    top: 0;
    border: 15px;
    transition: height 0.3s linear;
    z-index: 1;
}

a::after { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 3px;
    width: 25%;
    right: 0;
    top: 0;
    border: 15px;
    transition: width 0.3s linear;
}


a:hover::before { 
    height: 100%;
    transition: 0.3s;
}

a:hover::after { 
    width: 100%;
    transition: 0.3s;
}



button::after { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 3px;
    width: 25%;
    left: 0;
    bottom: 0;
    border: 15px;
    transition: width 0.3s linear;
}

button::before { 
    content: "";
    position: absolute;
    background-color: var(--color-green);
    height: 50%;
    width: 3px;
    left: 0;
    bottom: 0;
    border: 15px;
    transition: height 0.3s linear;
}

button:hover { 
    color: var(--color-green);
}

button:hover::before { 
    height: 100%;
    transition: 0.3s;
}

button:hover::after { 
    width: 100%;
    transition: 0.3s;
}



/* input */
.section-input { 
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}


.backdrop { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-gray);
    opacity: 0.7;
    z-index: 50;
}

mat-form-field { 
    width: 100%;
}

::ng-deep .mat-mdc-form-field { 
    --mdc-outlined-text-field-caret-color: var(--color-green);
    --mdc-outlined-text-field-label-text-color:  var(--color-green);
    --mdc-outlined-text-field-input-text-color:  var(--color-green);
    --mdc-outlined-text-field-outline-color:  var(--color-green);
    --mdc-outlined-text-field-focus-outline-color:  var(--color-green);
    --mdc-outlined-text-field-hover-outline-color:  var(--color-green);
    --mdc-outlined-text-field-focus-label-text-color:  var(--color-green);
    --mdc-outlined-text-field-label-text-color:  var(--color-green);

    --mdc-outlined-text-field-input-text-placeholder-color:  var(--color-green);
    --mdc-outlined-text-field-input-placeholder-color:  var(--color-green);
}

@media only screen and (min-width: 1000px) {
    .section-input { 
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    form { 
        width: 50%;
    }
    


    
}