<footer>
    <div>
        <h1>Contact</h1>
        <p>I would love to hear about your project and how I could help. Please fill in the form, and I'll get back to you as soon as possible</p>
        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=100004968339112"><img src="../../../assets/images/facebook.png" alt="facebook"></a>
            <a href="https://www.linkedin.com/in/vakho-ghrubelashvili-466b71252/"><img src="../../../assets/images/linkedin.png" alt="linkedin"></a>
            <a href="Wa.me/+995598911007"><img src="../../../assets/images/whatsapp.png" alt="whatsapp"></a>
            <a href="https://www.instagram.com/vakho_ghrubelashvili/"><img src="../../../assets/images/instagram.png" alt="instagram"></a>
        </div>
    </div>
</footer>