footer { 
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    /* margin: 13.2%; */
    /* margin: 6%; */
    /* margin-bottom: 0; */
    padding: 13.2%;
}


button { 
    width: 120px;
    height: 38px;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid var(--color-green);
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;
    cursor: pointer;
    transition: color 150ms linear;
}

button:hover { 
    color: var(--color-green);
}

p { 
    color: var(--color-gray-light);
}

img { 
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.social-links { 
    display: flex;
    gap: 5px;
}

@media only screen and (min-width: 1000px) {
    footer { 
        background-color: var(--color-gray);
        display: flex;
        justify-content: center;
        margin: 5.6%;
        backdrop-filter: blur(30px);
        /* background-color: rgba(255, 255, 255, 0.1); */
        border-radius: 25px;
        padding: 5.1% 10.2%;

    }
    
}
  