<footer>
    <div>
        <h1>Contact</h1>
        <p>I would love to hear about your project and how I could help. Please fill in the form, and I'll get back to you as soon as possible</p>
        <div class="social-links">
            <a href="#"><img src="../../../assets/images/facebook.png" alt="facebook"></a>
            <a href="#"><img src="../../../assets/images/linkedin.png" alt="linkedin"></a>
            <a href="#"><img src="../../../assets/images/whatsapp.png" alt="whatsapp"></a>
            <a href="#"><img src="../../../assets/images/instagram.png" alt="instagram"></a>
        </div>
    </div>
</footer>